name: Build Analyze Deploy to Sonar And Build Image
on:
  push:
    branches:
      - master

env:
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}
  SHA: ${{ github.event.pull_request.head.sha || github.event.after }}
  COMPARE_TAG: latest

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions: 
      packages: write
      contents: read
      pull-requests: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Install Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Npm Install
        run: npm install
      - name: Build And Analyze SonarScan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_HOST_URL: ${{secrets.SONAR_HOST_URL}}
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name:  Install Docker BuildX
        uses: docker/setup-buildx-action@v3.12.0
        with:
          driver-opts: |
            image=moby/buildkit:v0.10.6
 
      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Build Image And Push
        run: |
           docker build -t nodeapp:v1 .
           docker images
           docker tag nodeapp:v1 ashokgani6300/nodeapp:v1
        env:
          DOCKER_CLI_ACI: 1
      - name: Docker Push 
        run: |
           echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin docker.io
           docker push ashokgani6300/nodeapp:v1 
        env:
          DOCKER_CLI_ACI: 1
       
     
           
        
        
    
      
          
